@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
.hover\:pause-scroll:hover {
  animation-play-state: paused;
}

/** Implementation of new admin panel goes here... */

/* Restrict the toaster area to avoid full-screen spacing */
#_rht_toaster {
  inset: unset !important;
  top: 1rem !important;
  right: 1rem !important;
  bottom: auto !important;
  left: auto !important;
  pointer-events: none !important;
  z-index: 9999 !important;
}

/* Optional: Prevent unwanted scrollbars */
html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
